# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud.

.gcloudignore
.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
*.egg
.pytest_cache/
.coverage
*.log
